.add-list-container {
  padding: 64px 565px;
  .title {
    text-align: center;
  }
  .form-container {
    margin-top: 70px;
    .sell-rent-content {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .radio-container {
        display: flex;
        gap: 60px;
        .radio-content {
          display: flex;
          gap: 10px;
          input {
            accent-color: black; /* ნებისმიერი ფერი */
            width: 17px;
            height: 17px;
          }
        }
      }
    }
  }
  .placement-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 80px;
    h3 {
      font-weight: 400;
      font-size: 16px;
    }
    .placement-content {
      display: flex;
      gap: 20px;
      .placement-item {
        display: flex;
        flex-direction: column;
        gap: 5px;
        label {
          font-size: 14px;
          font-weight: 500;
          color: #021526;
        }
        input {
          width: 384px;
          height: 42px;
          border-radius: 6px;
          border: 1px solid #808a93;
        }
      }
    }
    .region-city-container {
      display: flex;
      gap: 20px;
      .region-city-content {
        display: flex;
        flex-direction: column;
        gap: 5px;
        label {
          font-size: 14px;
          font-weight: 500;
          color: #021526;
        }
        select {
          width: 384px;
          height: 42px;
          border-radius: 6px;
          border: 1px solid #808a93;
        }
      }
    }
  }
}
